@font-face {
    font-family: 'Young Heart';
    src: url('/static/fonts/YoungHeart.woff2') format('woff2'),
        url('/static/fonts/YoungHeart.woff') format('woff'),
        url('/static/fonts/YoungHeart.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 300px;
    background-color: #E0CA3C;
    font-family: 'Open Sans';
}

a:hover {
    text-decoration: none;
}

.dropdown-item:active {
    background-color: initial;
}

.logo-font {
  font-family: 'Young Heart';
  letter-spacing: 8px;
  color: #000;
}

.header {
    font-size: 5rem;
    color: #000;
    text-align: center;
    font-weight: bolder;
}

.sub-header {
    font-family: Bevan;
    text-transform: uppercase;
}

.rounded-container {
    background-color: #FFF6BC;
    border-radius: 20px;
    /* width: 90%; */
    margin-top: 40px;
}

.hidden-input {
     display: none;
}

.sign-in-popover {
    color: initial;
    
}

.sign-in-popover:hover {
    color: initial;
}


.popover-body {
    font-size: 1.2em;
    font-family: Bevan;
    letter-spacing: 2px;
    padding: 20px;;
    text-align: center;
}
/*------------------------------------------------------- NAV BAR AND FOOTER */
nav {
  background-color: #136F63;
  height: 120px;
}

.navbar {
    padding: 0px;;
}

.navbar-collapse {
    background-color: #136F63;
    padding-right: 5px;
    z-index: 1;
}

#logo {
  color: #FFF;
  font-size: 6rem;
  position: relative;
  bottom: 14px;
  padding-left: 10px;
}

#bars-icon {
    color: #FFF;
    border: 4px solid;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.8rem;
}

.custom-nav-links, .footer-links {
  font-family: 'Young Heart';
  color: #FFFFFFC7;
  position: relative;
  bottom: 5px;
}

.custom-nav-links {
    font-size: 4rem;
}

.custom-nav-links:hover, .footer-links:hover {
  color: #FFF;
  font-weight: bolder;
}

.custom-footer {
    height: 120px;
    margin-top: 30px;
    background-color: #136F63;
}

.footer-links {
    font-size: 2rem;
    text-align: center;
}

.copyright {
    color: #ffffffc0;
}

/*------------------------------------------------------- RECIPE CARD */
.recipe-card {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    padding: 10px;
    background-color: #FFF6BC;
    position: relative;
}
.recipe-card .col-6 {
    padding: 0 5px;
}
.recipe-card h6 {
    margin-top: 20px;
}

.recipe-card hr {
    margin-top: 0;
}

.recipe-card i {
    font-size: 2rem;
    cursor: pointer;
}

.recipe-card-footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.recipe-card-ratings {
    position: relative;
    left: 5px;
}
/* .added-recipe-card {
    height: 520px;
} */

.recipe-image-container {
    width: 100%;
    padding-top: 75%;
    position: relative
}

.recipe-card img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-card .star {
    font-size: 1.8rem;
}

.recipe-card-title {
    font-size: 2.5rem;
    padding-top: 20px;
    margin-bottom: 120px;
}

.recipe-card form {
    height: 55px;;
}

.shrink-header {
    font-size: 1.5rem;
    padding: 20px;
}

/*------------------------------------------------------- RECIPE PAGE */
.recipe-header {
    width: 95%;
    padding: 10px;
}

.recipe-header img {
    min-width: 220px;
    max-width: 800px;
    object-fit: contain;
    margin: 20px auto;
    display: flex;
}

.recipe-header h6 {
    margin: 0;
}

.rating-row {
    max-width: 800px;
    align-items: baseline;
}

.log-in-prompt {
    margin-bottom: 20px;
    border: 3px solid #136F63;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(255, 252, 234);
}

.log-in-prompt h6 {
    font-size: 1.2rem;
}

.log-in-prompt p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.log-in-prompt a {
    font-size: 1.4rem;
}

.ratings-button p {
    margin: 0;
    font-size: 0.8rem;
}

.rating-container {
    margin-left: 5px;
}
.your-rating {
    max-width: 200px;
}
.rating-form-md {
    display: flex;
    flex-direction: column
}

#ratings-modal {
    width: 220px;
    margin: 0 auto;
}

#ratings-modal .modal-content {
    background-color: #FFF6BC;
}

.star {
    font-size: 1.9rem;
}

.blank-star {
    color: #808080;;
}

.coloured-star {
    color: #FFC700;
}

/* CSS FOR STAR RATINGS ADAPTED FROM https://codepen.io/hesguru/pen/BaybqXv */
.rate {
    height: 46px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rate label {
    padding-right: 4.4px;
}

.rate:not(:checked) > input {
    display: none;
}

.rate:not(:checked) > label {
    float:right;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:2rem;
    color:#808080;
}
.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* END OF COPIED CSS */
.add-rating-btn {
    float: left;
    clear: both;
}

/* #favourite-checkbox-checked, #favourite-checkbox-unchecked {
    display: none;
} */

.favourite-toggle {
    font-size: 3rem;
    cursor: pointer;
}

label i {
    font-size: 3rem;
    padding: 10px;
}

.serves-details {
    font-size: 1.5rem;
    margin: 20px 0 0 0;
}

.recipe-details-list {
    max-width: 600px;
    padding: 0;
}

.recipe-details-list li {
    display: inline-block;
    margin: 10px;
    list-style: none;
}

.ingredients-section, .instructions-section {
    width: 90%;
    padding: 10px;
}

.ingredients-section li {
    margin: 10px 0;
}

.instructions-section h6 {
    margin-top: 15px;
    margin-bottom: 0;
}
.instructions-section ul{
    list-style: none;
    padding: 0;
}

/*------------------------------------------------------- FORMS */
.form-input{
    display: block;
    width: 100%;
    margin: 5px 0;
}

.form-input-label {
    display: block;
    font-family: Bevan;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 3px;
}

.custom-button, .delete-button {
    font-family: Bevan;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 10px;
    width: 180px;
    
}

.custom-button {
    color: #136F63;
    border: 3px solid #136F63;
}

.delete-button {
    color: #F34213;
    border: 3px solid #F34213;
}

.delete-button:hover {
    color: #fff;
    background-color: #F34213;
}

.custom-button:hover {
    color: #fff;
    background-color: #136F63;
}

.form-header {
    margin-top: 20px;
}

.form-details {
    font-family: 'Bevan';
    margin-bottom: 5px;
}

.number-input {
    width: 60px;
}


/*------------------------------------------------------- SEARCH AND FILTER */
.search-container {
    width: 90%;
}
.search-container .sub-header {
    font-size: 0.8rem;
}

.search-container .custom-button {
    margin: 10px 0;
    padding: 5px;
}

.filter-dropdown {
    font-family: 'Open Sans';
    background-color: #FFF6BC;
}

.filter-dropdown ul {
    list-style: none;
}

.filter-option {
    padding-left: 24px;
}

/*------------------------------------------------------- INDEX */
.hero {
    min-height: 250px;
    padding: 0;
}

.hero img {
    object-fit: cover;
    width: 100%;
}

.about-row {
    background-color: #F34213;
}

.about-title {
    font-size: 6rem;
    color: #FFF;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

.about-blurb {
    font-family: Bevan;
    color: #FFF;
    text-align: right;
    font-size: 2rem;
    letter-spacing: 2px;
    align-self: center;
    padding: 20px 20px 20px 50px;
}

.inspiration {
    background-color: #E0CA3C;
}

/*------------------------------------------------------- REGISTER */
.register-image {
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    position: absolute;
    
}

/*------------------------------------------------------- MY RECIPES */
.my-recipe-buttons {
    border: 4px solid #136F63;
    border-radius: 20px;
    max-width: 450px;
    width: 75%;
    font-size: 1.5rem;
    color: #000;
}

.my-recipe-buttons i {
    display: block;
    padding: 15px;
    font-size: 4rem;
}

.my-recipe-buttons a {
    color: black;
}

.current-button {
    background-color: #FFF6BC;
}

/*------------------------------------------------------- ADD RECIPE */
.form-container .form-details {
    padding: 5px 5px 0 5px;
}

.small-input {
    max-width: 400px;
}

.recipe-type-radio ul {
    max-width: 400px;
    padding: 0;
}

.recipe-type-radio ul li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    font-family: 'Open Sans';
}

.recipe-type-filters .filter-option {
    display: inline-block;
    font-family: 'Open Sans';
}

.form-container {
    max-width: 700px;
}

.add-row-btn {
    font-size: 1.5rem;
}

#add-ingredient-button:hover, #add-instruction-button:hover {
    cursor: pointer;
}

.select-file-button {
    font-size: 0.6rem;
    padding: 3px;
    }
 
#add-recipe-button {
    font-size: 2.5rem;
    margin-top: 48px;
    border: 6px solid;
    background-color: #FFF6BC;
    width: 330px;
}

#add-recipe-button:hover{
    background-color: #136F63;

}

/*-----------------------------------------------------MEDIA QUERIES */
@media screen and (max-width: 576px){
    #logo {
        bottom: 8px;
    }
    .header {
        font-size: 3rem;
    }
    .sub-header {
        font-size: 1rem;
    }
    #logo {
        font-size: 3rem;
    }
    #bars-icon {
        font-size: 1.4rem;
    }
    .custom-nav-links {
        font-size: 2rem;
    }
    .about-row {
        min-height: 165px;
    }
    .about-title {
        font-size: 3rem;
    }
    .about-blurb {
        font-size: 0.8rem;
    }
    .footer-links {
        font-size: 1.5rem;
        text-align: center;
    }
    .form-header{
        font-size: 0.7rem;
    }
    .form-input-label, .form-details {
        font-size: 0.7rem;
    }
    .my-recipe-buttons {
        border-width: 2px;
        width: 95%;
    }
    .my-recipe-buttons p {
        font-size: 0.6rem;
    }
    .my-recipe-buttons i {
        font-size: 2rem;
    }
    .rounded-container {
        margin-top: 10px;
        width: 100%;
    }
    .search-container .custom-button {
        font-size: 0.7rem;
        margin: 0 0 5px 0;
    }
    .recipe-type-filters .filter-option, .recipe-type-radio ul li {
        display: block;
        text-align: left;
        padding-left: 20px;
    }
    .form-input {
        font-size: 0.8rem;
    }
    #add-recipe-button {
        font-size: 1.5rem;
    }
    .recipe-card {
        padding: 10px;
    }
    .recipe-card .star{
        font-size: 1.5rem;
    }
    .recipe-card-title {
        font-size: 2rem;
    }
    .shrink-header {
    font-size: 1.5rem;
    padding: 10px;
    }
    .recipe-card h6 {
        font-size: 0.8rem;
    }
    .recipe-header img {
        width: 90%;
        height: 300px;
    }
    .recipe-details-list li {
        font-size: 0.8rem;
        margin: 5px;   
    }
    .recipe-header h6 {
        font-size: 0.8rem;
    }
    .serves-details {
        font-size: 1.2rem;
        margin: 20px 0;
    }
    .rating-row {
    align-items: center;
    }
}

@media screen and (min-width: 577px){
    #logo {
        font-size: 4.5rem;
    }
    #bars-icon {
        font-size: 1.6rem;
    }
    .custom-nav-links {
        font-size: 2rem;
    }
    .about-title {
        font-size: 4rem;
    }
    .about-blurb {
        font-size: 1.2rem;
    }
    .form-input-label {
        font-size: 1.2rem;
    }
    .form-input {
        font-size: 0.8rem;
    }
    .my-recipe-buttons i {
        font-size: 2.5rem;
    }
    .my-recipe-buttons p {
        font-size: 1rem;
        border-width: 3px;
    }
    .search-container .custom-button {
        font-size: 0.8rem;
        margin: 0 0 5px 0;
    }
    .rounded-container {
        margin-top: 20px;
    }
    .recipe-type-options .filter-option {
        display: inline-block;
        text-align: center;
    }
    .select-file-button {
        padding: 5px;
    }
    .recipe-header img {
        width: 90%;
        height: 400px;
    }
    .rating-row {
        align-items: center;
    }
}

@media screen and (min-width: 768px){
    #logo {
        font-size: 5rem;
    }
    .custom-nav-links {
        font-size: 1.6rem;
    }
    .footer-links {
        font-size: 1.4rem;
        padding: 0;
    }
    .about-title {
        left: 30%;
        font-size: 5rem;
    }
    .about-row {
        min-height: 300px;
    }
    .login-form {
        height: 579.67px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .search-container .custom-button {
        font-size: 1rem;
    }
    .select-file-button {
        font-size: 0.8rem;
    }
    .form-input {
        font-size: 1rem;
    }
    .recipe-header img {
        width: 90%;
        height: 500px;
    }
    .rating-row {
        align-items: initial;
    }
}


@media screen and (min-width: 992px){
    #logo {
        font-size: 6rem;
    }
    #slogan {
        font-size: 5.5rem;
    }
    .custom-nav-links {
        font-size: 3rem;
    }
    .about-row {
        min-height: 350px;
    }
    .header {
        margin-top: 20px;
    }
    .my-recipe-buttons i {
        font-size: 4rem;
    }
    .my-recipe-buttons p {
        font-size: 1.5rem;
        /* height: 215px; */
        border-width: 4px;
    }
}

@media screen and (min-width: 1200px){
    #slogan {
        font-size: 7rem;
    }
}
