@font-face {
    font-family: 'Young Heart';
    src: url('/static/fonts/youngheart-webfont.woff2') format('woff2'),
        url('/static/fonts/youngheart-webfont.woff') format('woff'),
        url('/static/fonts/youngheart-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 300px;
    background-color: #e0ca3c;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* .block-content-container {
    max-width: 2800px;
} */

a:hover {
    text-decoration: none;
}

.logo-font {
  font-family: 'Young Heart', Cambria, Cochin, Georgia, serif;
  letter-spacing: 8px;
  color: #000;
  text-transform: uppercase;
}

.header {
    font-size: 3.5rem;
    margin: 20px 0;
    line-height: 80px;
    color: #000;
    text-align: center;
    font-weight: bolder;
}

.sub-header {
    font-family: Bevan, Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.rounded-container {
    background-color: #FFF6BC;
    border-radius: 10px;
    margin-top: 40px;
}

.hidden-input {
     display: none;
}

.sign-in-popover, .sign-in-popover:hover {
    color: initial;
}

.flashed-messages {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 10px auto;
    background-color: #136F63;
    padding: 10px 20px;
    border: 8px double #FFF;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    min-width: 280px;
    color: #FFF;
    font-family: Bevan, Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.popover-body {
    font-size: 1.2em;
    font-family: Bevan, Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    padding: 20px;;
    text-align: center;
}

.pagination-link {
    width: 200px;
    display: inline-block;
    text-align: center;
}

#gray-next-link, #gray-prev-link {
    color: #808080a6;
    border-color: #808080a6;
    cursor: default;
}

#gray-next-link:hover, #gray-prev-link:hover {
    background-color: initial;
} 
/*------------------------------------------------------- NAV BAR AND FOOTER */
nav {
  background-color: #136F63;
  height: 120px;
}

.navbar {
    padding: 0px;
}

.navbar-collapse {
    background-color: #136F63;
    padding-right: 5px;
    z-index: 1;
}

#logo {
  color: #FFF;
  font-size: 4rem;
  padding-left: 10px;
}

#bars-icon {
    color: #FFF;
    border: 4px solid;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.8rem;
}

.custom-nav-links, .footer-links {
  font-family: 'Young Heart', Cambria, Cochin, Georgia, serif;
  text-transform: uppercase;
  color: #FFFFFFC7;
  letter-spacing: 5px;
}

.custom-nav-links {
    font-size: 4rem;
}

.custom-nav-links:hover, .footer-links:hover {
  color: #FFF;
  font-weight: bolder;
}

.custom-footer {
    height: 120px;
    margin-top: 30px;
    background-color: #136F63;
}

.footer-links {
    font-size: 1rem;
}

.copyright {
    color: #ffffffc0;
}

/*------------------------------------------------------- RECIPE CARD */
.recipe-card {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    padding: 10px;
    background-color: #FFF6BC;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.recipe-card hr {
    width: 80%;
}

.recipe-card i {
    font-size: 2rem;
}

.recipe-card form i {
    cursor: pointer;
}

.recipe-card-footer {
    margin-top: auto;
}

.recipe-card-ratings {
    position: relative;
    left: 10px;
    padding: 0;
}

.recipe-card-ratings .star i {
    font-size: 1.3rem;
    position: relative;
    bottom: 5px;
}

.recipe-image-container {
    width: 100%;
    padding-top: 75%;
    position: relative
}

.recipe-card img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.recipe-card .star {
    font-size: 1.8rem;
}

.recipe-card-title {
    font-size: 2rem;
    padding-top: 20px;
    line-height: 50px;
}

.shrink-header {
    font-size: 1.5rem;
    padding-top: 20px;
}

/*------------------------------------------------------- RECIPE PAGE */
.recipe-header {
    width: 95%;
    padding: 10px;
}

.recipe-header img {
    min-width: 220px;
    max-width: 800px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.recipe-header h6 {
    margin: 0;
}

.rating-row {
    max-width: 800px;
}

.rating-form-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}

#ratings-modal {
    width: 220px;
    margin: 0 auto;
}

#ratings-modal .modal-content {
    background-color: #FFF6BC;
}

.star {
    font-size: 1.5rem;
    padding: 0 3px;
}

.blank-star {
    color: #808080;;
}

.coloured-star {
    color: #FFC700;
}

/* CSS FOR STAR RATINGS ADAPTED FROM https://codepen.io/hesguru/pen/BaybqXv */
.user-rating, .user-rating-modal {
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.user-rating label, .user-rating-modal label, .modal-average-rating span {
    padding: 0 3px;
}

.user-rating:not(:checked) > input, .user-rating-modal:not(:checked) > input {
    display: none;
}

.user-rating:not(:checked) > label, .user-rating-modal:not(:checked) > label {
    float:right;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:1.5rem;
    color:#808080;
}

.user-rating > input:checked ~ label, .user-rating-modal > input:checked ~ label {
    color: #ffc700;    
}

.user-rating:not(:checked) > label:hover,
.user-rating:not(:checked) > label:hover ~ label,
.user-rating-modal:not(:checked) > label:hover,
.user-rating-modal:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.user-rating > input:checked + label:hover,
.user-rating > input:checked + label:hover ~ label,
.user-rating > input:checked ~ label:hover,
.user-rating > input:checked ~ label:hover ~ label,
.user-rating-modal > label:hover ~ input:checked ~ label,
.user-rating-modal > input:checked + label:hover,
.user-rating-modal > input:checked + label:hover ~ label,
.user-rating-modal > input:checked ~ label:hover,
.user-rating-modal > input:checked ~ label:hover ~ label,
.user-rating-modal > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* END OF COPIED CSS */

.favourite-toggle {
    font-size: 3rem;
    cursor: pointer;
}

.serves-details {
    font-size: 1.5rem;
    margin: 20px 0 0 0;
}

.recipe-details-list {
    max-width: 600px;
    padding: 0;
}

.recipe-details-list li {
    display: inline-block;
    margin: 10px;
    list-style: none;
}

.ingredients-section, .instructions-section {
    width: 90%;
    padding: 10px;
}

.ingredients-section li {
    margin: 10px 0;
}

.instructions-section h6 {
    margin-top: 15px;
    margin-bottom: 0;
}
.instructions-section ul{
    list-style: none;
    padding: 0;
}

/*------------------------------------------------------- FORMS */
.form-input{
    display: block;
    width: 100%;
    margin: 5px 0;
}

.form-input:focus {
    outline: none;
}

.form-input-label {
    display: block;
    font-family: Bevan, Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 3px;
}

.custom-button, .delete-button {
    font-family: Bevan, Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 0 5px;
    cursor: pointer;
}

.custom-button {
    color: #136F63;
    border: 3px solid #136F63;
}

.delete-button {
    color: #F34213;
    border: 3px solid #F34213;
}

.delete-button:hover {
    color: #fff;
    background-color: #F34213;
}

.custom-button:hover {
    color: #fff;
    background-color: #136F63;
}

.login-form .custom-button{
    max-width: 130px;
}

.form-details {
    font-family: Bevan, Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}

.number-input {
    width: 60px;
}

.remove-filters-button {
    background-color: #FFF6BC;
    max-width: 400px;
}

.remove-filters-button a {
    color: #136F63;
}


/*------------------------------------------------------- SEARCH AND FILTER */
.search-form {
    display: contents;
}
.filters-modal ul {
    padding: 0;
}
.filters-modal ul li, .filters-modal-checkbox {
    list-style: none;
    display: inline;
    padding: 5px;
}

#search {
    width: 100%;
    max-width: 250px;
}

.search-button {
    height: fit-content;
}

.filters-button {
    color: #FFF;
    background-color: #136F63;
}

/*------------------------------------------------------- INDEX */
.hero {
    min-height: 250px;
    padding: 0;
}

.hero img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

.about-row {
    background-color: #F34213;
}

.about-title {
    font-size: 6rem;
    color: #FFF;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -ms-transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
        transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

.about-blurb {
    font-family: Bevan, Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF;
    text-align: right;
    font-size: 2rem;
    letter-spacing: 2px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 20px 20px 20px 50px;
}

.more-recipes-link {
    background-color: #FFF6BC;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/*------------------------------------------------------- REGISTER */
.register-image {
    height: 100%;
    max-height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    
}

/*------------------------------------------------------- MY RECIPES */
.my-recipe-buttons {
    border: 4px solid #136F63;
    border-radius: 20px;
    max-width: 450px;
    width: 75%;
    font-size: 1.5rem;
    color: #000;
    padding: 5px;
}

.my-recipe-buttons i {
    display: block;
    padding: 15px;
    font-size: 4rem;
}

.my-recipe-buttons a {
    color: black;
}

.current-button, .my-recipe-buttons:hover {
    background-color: #136F63;
    color: #FFF;
}

.add-fav-or-recipe {
    width: 80%;
    min-width: 280px;
    margin: 0 auto;
    line-height: 30px;
}

.add-fav-or-recipe i {
    font-size: 1.5rem;
}

/*------------------------------------------------------- ADD RECIPE + EDIT RECIPE*/
.form-container .form-details {
    padding: 5px 5px 0 5px;
}

.recipe-type-radio ul {
    padding: 0;
}

.recipe-type-radio ul li {
    padding-left: 24px;

}

.recipe-type-radio ul li {
    list-style: none;
    display: inline;
}

.recipe-type-filters .filter-option {
    display: inline-block;
    padding-left: 24px;
}

.form-container {
    max-width: 700px;
}

.add-row-btn {
    font-size: 1.5rem;
}

#add-ingredient-button:hover, #add-instruction-button:hover {
    cursor: pointer;
}

.select-file-button {
    font-size: 0.6rem;
    padding: 3px;
    cursor: pointer;
}
 
#add-recipe-button {
    font-size: 2.5rem;
    margin-top: 48px;
    border: 6px solid;
    background-color: #FFF6BC;
    width: 330px;
}

#add-recipe-button:hover{
    background-color: #136F63;

}

#keep-image-option img, #default-image-option img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
}

.image-option, .selected-image-option {
    font-family: Bevan, Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 2px solid #136F63;
    padding: 10px;
    border-radius: 10px;
    max-width: 230px;
    width: 100%;
}

.image-option label, .selected-image-option label {
    width: 100%;
}

.selected-image-option, .image-option:hover {
    color: #FFF;
    background-color: #136F63;
}

#add-image-option i {
    font-size: 9.35rem;
}
.image-option i, .selected-image-option i, .image-option,
.selected-image-option, .selected-image-option img, .image-option img, 
.image-option label {
    cursor: pointer;
}

.selected-file-container {
    width: 100%;
    overflow-wrap: break-word; 
}

/*-----------------------------------------------------MEDIA QUERIES */
@media screen and (max-width: 576px){
    .header {
        font-size: 2rem;
        line-height: 50px;
        margin: 15px 0;
    }
    .sub-header {
        font-size: 1rem;
    }
    #logo {
        font-size: 3rem;
    }
    #bars-icon {
        font-size: 1.4rem;
    }
    .custom-nav-links {
        font-size: 1.5rem;
        padding: 20px 0;
    }
    .flashed-messages {
        font-size: 1rem;
    }
    .about-row {
        min-height: 165px;
    }
    .about-title {
        font-size: 3rem;
        margin-left: 10px;
    }
    .about-blurb {
        font-size: 0.8rem;
    }
    .pagination-link {
        font-size: 0.6rem;
        width: 130px;
    }
    .footer-links, .copyright {
        font-size: 0.8rem;
    }
    .form-header{
        font-size: 0.7rem;
    }
    .form-input-label, .form-details {
        font-size: 0.7rem;
    }
    .form-requirement {
        font-size: 0.7rem;
    }
    .my-recipe-buttons {
        border-width: 2px;
        width: 95%;
    }
    .my-recipe-buttons p {
        font-size: 0.6rem;
    }
    .my-recipe-buttons i {
        font-size: 2rem;
    }
    .rounded-container {
        margin-top: 10px;
        width: 100%;
    }
    .search-container {
        max-width: 350px;
    }
    .search-container .custom-button {
        font-size: 0.7rem;
    }

    .filters-modal ul li, .filters-modal-checkbox {
        display: block;
    }
    .recipe-type-filters .filter-option, .recipe-type-radio ul li {
        display: block;
        text-align: left;
        padding-left: 20px;
    }
    .form-input {
        font-size: 0.8rem;
    }
    #add-recipe-button {
        font-size: 1.5rem;
    }
    .recipe-card {
        padding: 10px;
    }
    .recipe-card .star{
        font-size: 1.5rem;
    }
    .recipe-card-title {
        font-size: 2rem;
    }
    .recipe-card h6 {
        font-size: 0.8rem;
    }
    .recipe-header img {
        width: 90%;
    }
    .recipe-details-list li {
        font-size: 0.8rem;
        margin: 5px;   
    }
    .recipe-header h6 {
        font-size: 0.8rem;
    }
    .back-links {
        font-size: 0.8rem;
    }
    .serves-details {
        font-size: 1.2rem;
        margin: 20px 0;
    }
    .rating-row {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .recipe-card-ratings .star i {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 577px){
    #logo {
        font-size: 3.5rem;
    }
    #bars-icon {
        font-size: 1.6rem;
    }
    .header {
        font-size: 3rem;
    }
    .custom-nav-links {
        font-size: 2rem;
        padding: 20px 0;
    }
    .about-title {
        font-size: 4rem;
    }
    .about-blurb {
        font-size: 1.2rem;
    }
    .form-input-label {
        font-size: 1.2rem;
    }
    .form-input {
        font-size: 0.8rem;
    }
    .form-requirement {
        font-size: 0.8rem;
    }
    .my-recipe-buttons i {
        font-size: 2.5rem;
    }
    .my-recipe-buttons p {
        font-size: 1rem;
        border-width: 3px;
    }
    .search-container {
        max-width: 350px;
    }
    .rounded-container {
        margin-top: 20px;
    }
    .select-file-button {
        padding: 5px;
    }
    .recipe-header img {
        width: 90%;
        height: 400px;
    }
    .rating-row {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media screen and (min-width: 768px){
    #logo {
        font-size: 3.5rem;
    }
    .custom-nav-links {
        font-size: 1.5rem;
    }
    .footer-links {
        padding: 0;
    }
    .about-title {
        left: 30%;
        font-size: 4rem;
    }
    .about-row {
        min-height: 300px;
    }
    .login-form {
        height: 579.67px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .form-requirement {
        font-size: 1rem;
    }
    .search-container {
        width: 90%;
        max-width: 600px;
    }
    .select-file-button {
        font-size: 0.8rem;
    }
    .form-input {
        font-size: 1rem;
    }
    .recipe-header img {
        width: 90%;
        height: 500px;
    }
    .rating-row {
        -webkit-box-align: initial;
            -ms-flex-align: initial;
                align-items: initial;
    }
}

@media screen and (min-width: 992px){
    #logo {
        font-size: 5rem;
    }
    #slogan {
        font-size: 5.5rem;
        line-height: 120px;
    }
    .custom-nav-links {
        font-size: 2rem;
    }
    .about-row {
        min-height: 350px;
    }
    .header {
        font-size: 4.5rem;
        line-height: 100px;
        margin: 40px 0;
    }
    .my-recipe-buttons i {
        font-size: 4rem;
    }
    .my-recipe-buttons p {
        font-size: 1.5rem;
        border-width: 4px;
    }
}

@media screen and (min-width: 1200px){
    #slogan {
        font-size: 6rem;
    }
    .recipe-card-ratings {
        left: 0;
    }
}

@media (min-width: 1800px){
    .block-content-container {
        max-width: 2000px;
    }
    .col-xxl-3 {
        flex: 0 0 25%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

    }
    .d-xxl-flex {
        display: inline-flex !important;
    }
    .recipe-card {
        width: 80%;
        max-width: none;
    }

    #slogan {
        font-size: 10rem;
        line-height: 220px;
    }
    .about-title {
        font-size: 8rem;
    }
    .about-blurb {
        font-size: 2rem;
    }
    .about-row {
        min-height: 650px;
    }
    .header {
        font-size: 6rem;
        line-height: 120px;
    }
    .more-recipes-link {
        font-size: 2.5rem;
    }
}