{% extends 'base.html' %}
{% block content %}
<h1 class="header text-center logo-font">Add Recipe</h1>
<div class="row rounded-container mx-auto">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h4 class="sub-header text-center form-header">Recipe Type</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h6 class="form-details text-center">Please select an option below :</h6>
                <div class="recipe-type-radio d-flex justify-content-around">
                    {{ form.recipe_type(class="dropdown-item") }}
                </div>
            </div>
            <div class="col-12 col-md-6 ">
                <h6 class="form-details text-center">Please tick all that apply :</h6>
                <div class="recipe-type-options text-center">
                    <div class="filter-option">
                        {{ form.cheap_checkbox() }}
                        {{ form.cheap_checkbox.label() }}
                    </div>
                    <div class="filter-option">
                        {{ form.gluton_free_checkbox() }}
                        {{ form.gluton_free_checkbox.label() }}
                    </div>
                    <div class="filter-option">
                        {{ form.fakeaway_checkbox() }}
                        {{ form.fakeaway_checkbox.label() }}
                    </div>
                    <div class="filter-option">
                        {{ form.healthy_checkbox() }}
                        {{ form.healthy_checkbox.label() }}
                    </div>
                    <div class="filter-option">
                        {{ form.quick_checkbox() }}
                        {{ form.quick_checkbox.label() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="sub-header mt-3 mt-lg-4">Please list your ingredients and cooking instructions here.<br>
    If you need more boxes, click the plus button.</p>
<div class="row mx-auto">
    <div class="col-12 col-lg-6 d-flex justify-content-center">
        <div class="row rounded-container">
            <div class="col-8 ingredients-container">
                <h6 class="text-left form-details">Ingredients</h6>
                {{ form.ingredient_1(class="form-input") }}
                {{ form.ingredient_2(class="form-input") }}
            </div>
            <div class="col-4 quantity-container">
                <h6 class="text-left form-details">Quantity</h6>
                {{ form.quantity_1(class="form-input") }}
                {{ form.quantity_2(class="form-input") }}
            </div>
            <div id="add-ingredient-row" class="add-row-btn col-12 text-right">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 d-flex justify-content-center">
        <div class="rounded-container">
            <h6 class="text-left pl-3 form-details">Instructions</h6>
        </div>
    </div>
</div>
{% endblock %}