{% extends 'base.html' %} {% block content %}
<div class="container-fluid block-content-container">
  <h1 class="logo-font text-center header">My Recipes</h1>
  <!-- MY RECIPES NAVIGATION BUTTONS -->
  <div class="row d-flex justify-content-around mt-3 mt-lg-5 no-gutters">
    <div class="col-4 d-flex justify-content-center">
      <a href="{{ url_for('my_recipes') }}" class="my-recipe-buttons">
        <div class="text-center sub-header">
          <p><i class="fas fa-heart"></i>View my favourite recipes</p>
        </div>
      </a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <a href="{{ url_for('added_recipes') }}" class="my-recipe-buttons">
        <div class="text-center sub-header">
          <p><i class="fas fa-pencil-alt"></i>View my added recipes</p>
        </div>
      </a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <a
        href="{{ url_for('add_recipe') }}"
        class="my-recipe-buttons current-button"
      >
        <div class="text-center sub-header">
          <p><i class="far fa-plus-square"></i>Add a new recipe</p>
        </div>
      </a>
    </div>
  </div>
  <!-- ADD RECIPE FORM -->
  <form
    method="POST"
    action="{{ url_for('add_recipe')}}"
    enctype="multipart/form-data"
  >
    {{ form.csrf_token }}
    <div class="row rounded-container form-container mx-auto pt-2">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h6 class="form-details mb-1">Recipe name :</h6>
            <div class="col">
              <p class="text-muted mb-1">Must be between 4 - 50 characters</p>
              {{ form.recipe_name(class="form-input small-input") }}
            </div>
          </div>
        </div>
        <hr />
        <!-- RECIPE TYPES - MEAT, VEG, VEGAN RADIO -->
        <div class="row">
          <div class="col-12">
            <h6 class="form-details mb-3">Please select an option below :</h6>
            <div class="recipe-type-radio p-0">{{ form.recipe_type() }}</div>
          </div>
        </div>
        <hr />
        <!-- RECIPE FILTER CHECKBOXES -->
        <div class="row">
          <div class="col-12 mb-2">
            <h6 class="form-details mb-3">Please tick all that apply :</h6>
            <div class="recipe-type-filters">
              <div class="filter-option">
                {{ form.cheap_checkbox() }} {{ form.cheap_checkbox.label() }}
              </div>
              <div class="filter-option">
                {{ form.gluton_free_checkbox() }} {{
                form.gluton_free_checkbox.label() }}
              </div>
              <div class="filter-option">
                {{ form.fakeaway_checkbox() }} {{ form.fakeaway_checkbox.label()
                }}
              </div>
              <div class="filter-option">
                {{ form.healthy_checkbox() }} {{ form.healthy_checkbox.label()
                }}
              </div>
              <div class="filter-option">
                {{ form.quick_checkbox() }} {{ form.quick_checkbox.label() }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="sub-header mt-3 mt-lg-4 text-center">
      Please list your ingredients and cooking instructions here.<br />
      If you need more boxes, click the
      <i class="fas fa-plus-circle"></i> button.
    </p>

    <div class="rounded-container form-container mx-auto">
      <!-- INGREDIENTS AND QUANTITY -->
      <div class="row mx-auto pt-2">
        <div class="col-12 ingredients-container">
          <h6 class="text-left form-details mb-1">Ingredients</h6>
          <p class="text-muted mb-1">Must be at least 3 ingredients between 3 - 50 characters</p>
          {{ form.ingredient_1(class="form-input small-input mb-2") }} {{
          form.ingredient_2(class="form-input small-input mb-2") }} {{
          form.ingredient_3(class="form-input small-input mb-2") }}
        </div>
        <div class="add-row-btn col-12">
          <i id="add-ingredient-button" class="fas fa-plus-circle"></i>
        </div>
      </div>
      <hr />
      <!-- INSTRUCTIONS -->
      <div class="row mx-auto">
        <div class="col-12 instructions-container">
          <h6 class="text-left form-details mb-1">Instructions</h6>
          <p class="text-muted mb-1">Please add at least 2 instructions</p>
          {{ form.instruction_1(class="form-input auto-resize mb-2") }} {{
          form.instruction_2(class="form-input auto-resize mb-2") }}
        </div>
        <div class="add-row-btn col-12">
          <i id="add-instruction-button" class="fas fa-plus-circle"></i>
        </div>
      </div>
      <hr />
      <!-- HOW MANY PEOPLE DOES IT FEED? -->
      <div class="row mx-auto">
        <div class="col-12">
          <h6 class="form-details mb-3">How many people does it feed?</h6>
          {{ form.feeds(class="number-input text-center") }}
        </div>
      </div>
      <hr />
      <!-- IMAGE OPTION -->
      <div class="row mx-auto">
        <div class="col-12 mb-2">
          <h6 class="form-details mb-3">Add an image (optional)</h6>
          {{ form.picture_upload(class="hidden-input") }}
          <label
            for="picture_upload"
            class="custom-button select-file-button mt-1 mb-2"
            >Select File</label
          >
          <span id="selected-file"></span>
        </div>
      </div>
    </div>
    <!-- SUBMIT RECIPE BUTTON -->
    <div class="row mx-auto">
      <div class="col d-flex">
        {{ form.add_recipe_button(class="custom-button mx-auto",
        id="add-recipe-button") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}
