{% extends 'base.html' %}
{% block content %}

<h1 class="logo-font text-center header">My Recipes</h1>
<!-- MY RECIPES NAVIGATION BUTTONS -->
<div class="row d-flex justify-content-around mt-3 mt-lg-5 no-gutters">
    <div class="col-4 d-flex justify-content-center">
        <div class="my-recipe-buttons">
            <a href="{{ url_for('my_recipes') }}">
                <div class="text-center sub-header">
                    <p><i class="fas fa-heart"></i>View my favourite recipes</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="my-recipe-buttons current-button">
            <a href="{{ url_for('added_recipes') }}">
                <div class="text-center sub-header">
                    <p><i class="fas fa-pencil-alt"></i>View my added recipes</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="my-recipe-buttons">
            <a href="{{ url_for('add_recipe') }}">
                <div class="text-center sub-header">
                    <p><i class="far fa-plus-square"></i>Add a new recipe</p>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- SEARCH AND FILTER CONTAINER -->
<div class="row search-container mx-auto">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="sub-header text-left">Search for a recipe or ingredient</div>
            </div>
            <div class="d-none d-lg-block col-lg-4"></div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="sub-header text-right">Filter recipes</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}