{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% for recipe in recipes %}
    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="recipe-card">
            <a href="{{url_for('recipe_page', recipe_id=recipe._id)}}">
                <div class="recipe-image-container">
                    <img src="{{ url_for('get_image', image_name = recipe.image_name) }}" alt="">
                </div>
                <h4 class="recipe-card-title logo-font text-center">{{ recipe.name }}</h4>
            </a>
            <div class="recipe-card-footer row">
                <div class="col-6 text-center recipe-card-ratings">
                    <h6 class="sub-header">Average<br>Rating</h6>
                    {% if recipe.average_rating == 1 %}
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    {% elif recipe.average_rating == 2 %}
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    {% elif recipe.average_rating == 3 %}
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    {% elif recipe.average_rating == 4 %}
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    {% elif recipe.average_rating == 5 %}
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    <span class="star coloured-star">&#9733;</span>
                    {% else %}
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    <span class="star blank-star">&#9733;</span>
                    {% endif %}
                </div>
                <!-- ADD TO FAVOURITES SECTION -->
                <div class="col-6 text-center">
                    <h6 class="sub-header">Favourite<br>Recipe?</h6>
                    <!-- If user is logged in -->
                    {% if session['username'] %}
                    <form class="trigger-form-send" method="POST"
                        action="{{ url_for('toggle_favourite', recipe_id=recipe._id, return_page='all_recipes') }}">
                        <!-- If user has favourited this recipe previously, render solid heart icon -->
                        {% if session['username'] in recipe.favourites %}
                        <input type="checkbox" name="favourite" class="hidden-input"
                            id="favourite-checkbox-checked-{{+ loop.index}}" value="delete_fav">
                        <label for="favourite-checkbox-checked-{{+ loop.index}}"><i class="fas fa-heart"
                                data-toggle="tooltip" data-placement="bottom"
                                title="Remove from favourites"></i></label>
                        <!-- If user has not favourited recipe, render outline heart icon -->
                        {% else %}
                        <input type="checkbox" name="favourite" class="hidden-input"
                            id="favourite-checkbox-unchecked-{{+ loop.index}}" value="add_fav">
                        <label for="favourite-checkbox-unchecked-{{+ loop.index}}"><i class="far fa-heart"
                                data-toggle="tooltip" data-placement="bottom"
                                title="Add to favourites"></i></label>
                        {% endif %}
                    </form>
                    <!-- User not logged in - provide popover with links to log in and register  -->
                    {% else %}
                    <a tabindex="0" class="sign-in-popover" role="button" data-toggle="popover" data-trigger="focus"
                        data-placement="bottom" data-content="<a href='{{ url_for('login') }}'><b>LOG IN</b></a> or 
                        <a href='{{ url_for('register') }}'><b>REGISTER</b></a> to save recipes to your favourites!">
                        <i class="far fa-heart"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}