{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12 hero d-flex justify-content-center">
        <img src="/static/images/hero.png" alt="">
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="logo-font header mt-4 mb-4">Add some kick to your cook</h2>
    </div>
</div>
<div class="row about-row">
    <div class="col-2 col-md-3 col-lg-4">
        <h2 class="about-title logo-font">About</h2>
    </div>
    <div class="col-10 col-md-9 col-lg-8 about-blurb">
        <p>Made with a blend of some the hottest chillis on earth, and with a sprinkle of our super secret ingreadient,
            RODEO HOT SAUCE is like nothing you’ve ever tried before.
        </p>
        <p>Available now in all major supermarkets</p>
    </div>
</div>
<div class="row inspiration">
    <div class="col">
        <div class="row">
            <div class="col">
                <h2 class="logo-font header">Some Inspiration</h2>
                <h4 class="sub-header mt-4 text-center">Click on recipes for more info</h4>
            </div>
        </div>
        <div class="row">
            {% for recipe in recipes %}
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="recipe-card">
                    <a href="{{url_for('recipe_page', recipe_id=recipe._id)}}">
                        <div class="recipe-image-container">
                            <img src="{{ url_for('get_image', image_name = recipe.image_name) }}" alt="">
                        </div>
                        <h4 class="recipe-card-title logo-font text-center">{{ recipe.name }}</h4>
                    </a>
                    <div class="recipe-card-footer row">
                        <div class="col-6 text-center recipe-card-ratings">
                            <h6 class="sub-header">Average<br>Rating</h6>
                            {% if recipe.average_rating == 1 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% elif recipe.average_rating == 2 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% elif recipe.average_rating == 3 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% elif recipe.average_rating == 4 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% elif recipe.average_rating == 5 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            {% else %}
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% endif %}
                        </div>
                        <div class="col-6 text-center">
                            <!-- ADD TO FAVOURITES SECTION -->
                            <h6 class="sub-header">Add to<br>Favourites</h6>
                            <!-- If user is logged in -->
                            {% if session['username'] %}
                            <form class="trigger-form-send" method="POST"
                                action="{{ url_for('toggle_favourite', recipe_id=recipe._id, return_page='index') }}">
                                <!-- If user has favourited this recipe previously, render solid heart icon -->
                                {% if session['username'] in recipe.favourites %}
                                <input type="checkbox" name="favourite" class="hidden-input"
                                    id="favourite-checkbox-checked-{{+ loop.index}}" value="delete_fav">
                                <label for="favourite-checkbox-checked-{{+ loop.index}}"><i
                                        class="fas fa-heart"></i></label>
                                <!-- If user has not favourited recipe, render outline heart icon -->
                                {% else %}
                                <input type="checkbox" name="favourite" class="hidden-input"
                                    id="favourite-checkbox-unchecked-{{+ loop.index}}" value="add_fav">
                                <label for="favourite-checkbox-unchecked-{{+ loop.index}}"><i
                                        class="far fa-heart"></i></label>
                                {% endif %}
                            </form>
                            <!-- User not logged in - provide popover with links to log in and register  -->
                            {% else %}
                            <a tabindex="0" class="sign-in-popover" role="button" data-toggle="popover"
                                data-trigger="focus" data-placement="bottom" data-content="<a href='{{ url_for('login') }}'><b>LOG IN</b></a> or 
                                <a href='{{ url_for('register') }}'><b>REGISTER</b></a> to save recipes to your favourites!">
                                <i class="far fa-heart"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="recipe-card">
                    <a href="#">
                        <div class="recipe-image-container">
                            <img src="/static/images/eaters-collective-pLKgCsBOiw4-unsplash.jpg" alt="...">
                        </div>
                        <div>
                            <h4 class="recipe-card-title logo-font">Crispy Chicken Fillet Burger</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="recipe-card">
                    <a href="#">
                        <div class="recipe-image-container">
                            <img src="/static/images/alex-munsell-auIbTAcSH6E-unsplash.jpg" alt="...">
                        </div>
                        <div>
                            <h4 class="recipe-card-title logo-font">Super Spiced Steak Marinade</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 d-md-none d-lg-inline-block col-lg-4 d-flex justify-content-center">
                <div class="recipe-card">
                    <a href="#">
                        <div class="recipe-image-container">
                            <img src="/static/images/cala-w6ftFbPCs9I-unsplash.jpg" alt="...">
                        </div>
                        <div>
                            <h4 class="recipe-card-title logo-font">Spiced Carrot and Lentil Soup</h4>
                        </div>
                    </a>
                </div>
            </div> -->

        </div>
    </div>
</div>


{% endblock %}