{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-12 hero d-flex justify-content-center">
        <img src="/static/images/hero.png" alt="">
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="logo-font header mt-4 mb-4">Add some kick to your cook</h2>
    </div>
</div>
<div class="row about-row">
    <div class="col-2 col-md-3 col-lg-4">
        <h2 class="about-title logo-font">About</h2>
    </div>
    <div class="col-10 col-md-9 col-lg-8 about-blurb">
        <p>Made with a blend of some the hottest chillis on earth, and with a sprinkle of our super secret ingreadient,
            RODEO HOT SAUCE is like nothing you’ve ever tried before.
        </p>
        <p>Available now in all major supermarkets</p>
    </div>
</div>
<div class="row inspiration">
    <div class="col">
        <div class="row">
            <div class="col">
                <h2 class="logo-font header">Some Inspiration</h2>
                <h4 class="sub-header mt-4">Click on recipes for more info</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="recipe-card">
                    <a href="#">
                        <div class="recipe-image-container">
                            <img src="/static/images/eaters-collective-pLKgCsBOiw4-unsplash.jpg" alt="...">
                        </div>
                        <div>
                            <h4 class="recipe-title logo-font">Crispy Chicken Fillet Burger</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="recipe-card">
                    <a href="#">
                        <div class="recipe-image-container">
                            <img src="/static/images/alex-munsell-auIbTAcSH6E-unsplash.jpg" alt="...">
                        </div>
                        <div>
                            <h4 class="recipe-title logo-font">Super Spiced Steak Marinade</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 d-md-none d-lg-inline-block col-lg-4 d-flex justify-content-center">
                <div class="recipe-card">
                    <a href="#">
                        <div class="recipe-image-container">
                            <img src="/static/images/cala-w6ftFbPCs9I-unsplash.jpg" alt="...">
                        </div>
                        <div>
                            <h4 class="recipe-title logo-font">Spiced Carrot and Lentil Soup</h4>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}