{% extends 'base.html' %}
{% block content %}

<h1 class="logo-font text-center header">My Recipes</h1>
<!-- MY RECIPES NAVIGATION BUTTONS -->
<div class="row d-flex justify-content-around mt-3 mt-lg-5 no-gutters">
    <div class="col-4 d-flex justify-content-center">
        <div class="my-recipe-buttons current-button">
            <a href="{{ url_for('my_recipes') }}">
                <div class="text-center sub-header">
                    <p><i class="fas fa-heart"></i>View my favourite recipes</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="my-recipe-buttons">
            <a href="{{ url_for('added_recipes') }}">
                <div class="text-center sub-header">
                    <p><i class="fas fa-pencil-alt"></i>View my added recipes</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="my-recipe-buttons">
            <a href="{{ url_for('add_recipe') }}">
                <div class="text-center sub-header">
                    <p><i class="far fa-plus-square"></i>Add a new recipe</p>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- IF USER HASN'T FAVOURITED ANY RECIPES -->
{% if recipes.count() == 0 %}
<div class="add-fav-or-recipe">
    <h2 class="sub-header text-center mt-5">Add Favourite Recipes</h2>
    <p class="text-center"><strong>Save your favourite recipes here by clicking on the <i class="far fa-heart"></i> symbol on recipe pages, 
    or when browsing all the recipes <a href="{{url_for('all_recipes')}}">here!</a></strong>
    </p>
</div>
{% else %}
<!-- USER HAS FAVOURITE RECIPES -->
<!-- SEARCH AND FILTER CONTAINER -->
<div class="row search-container rounded-container mx-auto">
    <div class="col-12">
        <form method="POST" action="">
            <div class="row">
                {{ form.hidden_tag() }}
                <div class="col-12 col-sm-8">
                    <div class="sub-header text-left mt-2 mb-1">Search for a recipe or ingredient</div>
                    {{ form.search(class="form-input mb-2") }}
                    {{ form.search_submit(class="custom-button") }}
                </div>
                <div class="col-12 col-sm-4">
                    <div class="sub-header text-right mt-1 mb-1">Filter recipes</div>
                    <div class="dropdown text-right">
                        <button class="btn btn-secondary dropdown-toggle custom-button" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu filter-dropdown" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header sub-header">Recipe Type</h6>
                            {{ form.recipe_type(class="dropdown-item") }}
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header sub-header">Recipe Options</h6>
                            <div class="filter-option">
                                {{ form.cheap_checkbox() }}
                                {{ form.cheap_checkbox.label() }}
                            </div>
                            <div class="filter-option">
                                {{ form.gluton_free_checkbox() }}
                                {{ form.gluton_free_checkbox.label() }}
                            </div>
                            <div class="filter-option">
                                {{ form.fakeaway_checkbox() }}
                                {{ form.fakeaway_checkbox.label() }}
                            </div>
                            <div class="filter-option">
                                {{ form.healthy_checkbox() }}
                                {{ form.healthy_checkbox.label() }}
                            </div>
                            <div class="filter-option">
                                {{ form.quick_checkbox() }}
                                {{ form.quick_checkbox.label() }}
                            </div>
                            {{ form.filter_submit(class="custom-button d-flex mx-auto") }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% if filters %}
<div class="text-center mt-3 custom-button remove-filters-button mx-auto">
    <a class="" href="{{ url_for('all_recipes') }}">Remove Search terms and Filters</a>
</div>
{% endif %}
<div class="row">
    {% for recipe in recipes %}
    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="recipe-card">
            <a href="{{url_for('recipe_page', recipe_id=recipe._id)}}">
                <div class="recipe-image-container">
                    <img src="{{ url_for('get_image', image_name = recipe.image_name) }}" alt="">
                </div>
                <h4 class="recipe-card-title logo-font text-center">{{ recipe.name }}</h4>
            </a>
            <div class="recipe-card-footer row">
                <div class="col-6 text-center recipe-card-ratings">
                    <h6 class="sub-header">Average<br>Rating</h6>
                    {% if recipe.average_rating == 0.5 %}
                    <span class="star coloured-star"><i class="fas fa-star-half-alt"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    {% elif recipe.average_rating == 1 %}
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    {% elif recipe.average_rating == 1.5 %}
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star-half-alt"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    {% elif recipe.average_rating == 2 %}
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    {% elif recipe.average_rating == 2.5 %}
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star-half-alt"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    {% elif recipe.average_rating == 3 %}
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    {% elif recipe.average_rating == 3.5 %}
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star-half-alt"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    {% elif recipe.average_rating == 4 %}
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    {% elif recipe.average_rating == 4.5 %}
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star-half-alt"></i>
                    </span>
                    {% elif recipe.average_rating == 5 %}
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    <span class="star coloured-star"><i class="fas fa-star"></i></span>
                    {% else %}
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    <span class="star blank-star"><i class="far fa-star"></i></span>
                    {% endif%}
                </div>
                <div class="col-6 text-center">
                    <h6 class="sub-header">Add to<br>Favourites</h6>
                    {% if session['username'] %}
                    <form class="trigger-form-send" method="POST"
                        action="{{ url_for('toggle_favourite', recipe_id=recipe._id, return_page='my_recipes') }}">
                        {% if session['username'] in recipe.favourites %}
                        <input type="checkbox" name="favourite" class="hidden-input"
                            id="favourite-checkbox-checked-{{+ loop.index}}" value="delete_fav">
                        <label for="favourite-checkbox-checked-{{+ loop.index}}"><i class="fas fa-heart"></i></label>
                        {% else %}
                        <input type="checkbox" name="favourite" class="hidden-input"
                            id="favourite-checkbox-unchecked-{{+ loop.index}}" value="add_fav">
                        <label for="favourite-checkbox-unchecked-{{+ loop.index}}"><i class="far fa-heart"></i></label>
                        {% endif %}
                    </form>
                    {% else %}
                    <i class="far fa-heart"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}