{% extends 'base.html' %} {% block content %}
<div class="container-fluid block-content-container">
  <h1 class="logo-font text-center header">My Recipes</h1>
  <!-- MY RECIPES NAVIGATION BUTTONS -->
  <div class="row d-flex justify-content-around mt-3 mt-lg-5 no-gutters">
    <div class="col-4 d-flex justify-content-center">
      <a href="{{ url_for('my_recipes') }}" class="my-recipe-buttons current-button">
        <div class="text-center sub-header">
          <p><i class="fas fa-heart"></i>View my favourite recipes</p>
        </div>
      </a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <a href="{{ url_for('added_recipes') }}" class="my-recipe-buttons">
        <div class="text-center sub-header">
          <p><i class="fas fa-pencil-alt"></i>View my added recipes</p>
        </div>
      </a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <a href="{{ url_for('add_recipe') }}" class="my-recipe-buttons">
        <div class="text-center sub-header">
          <p><i class="far fa-plus-square"></i>Add a new recipe</p>
        </div>
      </a>
    </div>
  </div>
  <!-- IF USER HASN'T FAVOURITED ANY RECIPES -->
  {% if recipe_count == 0 %}
  <div class="add-fav-or-recipe">
    <h2 class="sub-header text-center mt-5">Add Favourite Recipes</h2>
    <p class="text-center">
      <strong>Save your favourite recipes here by clicking on the
        <i class="far fa-heart"></i> symbol on recipe pages, or when browsing
        all the recipes <a href="{{url_for('all_recipes')}}">here!</a></strong>
    </p>
  </div>
  {% else %}
  <!-- USER HAS FAVOURITE RECIPES -->
  <!-- SEARCH AND FILTER CONTAINER -->
  <div class="row search-container rounded-container mx-auto">
    <div class="col-12">
      <form method="POST" action="{{ url_for('search_results', return_page='my_recipes', sort_by='average_rating')}}">
        <div class="row">
          {{ form.hidden_tag() }}
          <div class="col-12 col-sm-8">
            <div class="sub-header text-left mt-2 mb-1">
              Search for a recipe or ingredient
            </div>
            {{ form.search(class="form-input mb-2", value=search_words) }} {{
            form.search_submit(class="custom-button") }}
          </div>
          <div class="col-12 col-sm-4">
            <div class="sub-header text-right m-1">Filter recipes</div>
            <div class="dropdown text-right">
              <button class="btn btn-secondary dropdown-toggle custom-button" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
              </button>
              <div class="dropdown-menu filter-dropdown" aria-labelledby="dropdownMenuButton">
                <h6 class="dropdown-header sub-header">Recipe Type</h6>
                {{ form.recipe_type(class="dropdown-item") }}
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header sub-header">Recipe Options</h6>
                <div class="filter-option">
                  {{ form.cheap_checkbox() }} {{ form.cheap_checkbox.label() }}
                </div>
                <div class="filter-option">
                  {{ form.gluton_free_checkbox() }} {{
                  form.gluton_free_checkbox.label() }}
                </div>
                <div class="filter-option">
                  {{ form.fakeaway_checkbox() }} {{
                  form.fakeaway_checkbox.label() }}
                </div>
                <div class="filter-option">
                  {{ form.healthy_checkbox() }} {{ form.healthy_checkbox.label()
                  }}
                </div>
                <div class="filter-option">
                  {{ form.quick_checkbox() }} {{ form.quick_checkbox.label() }}
                </div>
                {{ form.filter_submit(class="custom-button d-flex mx-auto") }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- User has used search or filter - provide 'remove search and filter' button -->
  {% if filters %}
  <a href="{{ url_for('clear_search', return_page='my_recipes') }}">
    <div class="text-center mt-3 custom-button remove-filters-button mx-auto">
      Remove Search terms and Filters
    </div>
  </a>
  <!-- User has used search or filter - but the query returned no results -->
  {% if filters and recipe_count == 0 %}
  <div class="m-5 text-center">
    <h2 class="sub-header text-center mt-5">No recipes found!</h2>
    <p>
      <strong>Please adjust your search term or filters and try again.</strong>
    </p>
  </div>
  {% elif filters and recipe_count > 0 %}
  <!-- There are search results to sort, send sort request to search_results route -->
  <p class="mb-0 mt-2 mt-md-3 mt-lg-4 ml-lg-4">
    Sort recipes by:
    <a href="{{ url_for('search_results', return_page='my_recipes', sort_by='average_rating') }}">rating</a> /
    <a href="{{ url_for('search_results', return_page='my_recipes', sort_by='_id') }}">newest</a>
  </p>
  {% endif %}
  {% else %}
  <!-- If user sorts by rating / new without filters, send request to my_recipes route -->
  <p class="mb-0 mt-2 mt-md-3 mt-lg-4 ml-lg-4">
    Sort recipes by:
    <a href="{{ url_for('my_recipes', sort_by='average_rating') }}">rating</a> /
    <a href="{{ url_for('my_recipes', sort_by='_id') }}">newest</a>
  </p>
  {% endif %}
  <!-- RECIPE CARDS -->
  <div class="row row-eq-height">
    {% for recipe in recipes %}
    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
      <div class="recipe-card">
        <a href="{{url_for('recipe_page', recipe_id=recipe._id, page=page, return_page='my_recipes', 
                            return_page_text='My Recipes', filters=filters, sort_by=sort_by)}}">
          <div class="recipe-image-container">
            {% if recipe.image_name == 'default-image' %}
            <img src="/static/images/default-image.jpg" alt="Illustration of Rodeo Hot Sauce bottle" />
            {% else %}
            <img src="{{ url_for('get_image', image_name = recipe.image_name) }}" class="user-image" alt="" />
            {% endif %}
          </div>
          <h4 class="recipe-card-title logo-font text-center">
            {{ recipe.name }}
          </h4>
        </a>
        <div class="recipe-card-footer row">
          <div class="col-6 text-center recipe-card-ratings">
            <h6 class="sub-header mt-3">Average<br />Rating</h6>
            <div class="ratings-container">{{ recipe.average_rating }}</div>
          </div>
          <div class="col-6 text-center">
            <h6 class="sub-header mt-3">Add to<br />Favourites</h6>
            {% if session['username'] %}
            <form class="trigger-form-send" method="POST" action="{{ url_for('toggle_favourite', recipe_id=recipe._id,
                                 page=page, return_page='my_recipes', sort_by=sort_by, filters=filters) }}">
              {% if session['username'] in recipe.favourites %}
              <input type="checkbox" name="favourite" class="hidden-input"
                id="favourite-checkbox-checked-{{+ loop.index}}" value="delete_fav" />
              <label for="favourite-checkbox-checked-{{+ loop.index}}"><i class="fas fa-heart"></i></label>
              {% else %}
              <input type="checkbox" name="favourite" class="hidden-input"
                id="favourite-checkbox-unchecked-{{+ loop.index}}" value="add_fav" />
              <label for="favourite-checkbox-unchecked-{{+ loop.index}}"><i class="far fa-heart"></i></label>
              {% endif %}
            </form>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}