{% extends 'base.html' %}
{% block content %}
<div class="recipe-header rounded-container mx-auto">
    <h1 class="logo-font text-center header">{{ recipe.name }}</h1>
    <p class="recipe-added-by text-center text-muted">Recipe added by example-user</p>
    <p class="serves-details sub-header text-center">Serves {{ recipe.feeds }}</p>
    <ul class="sub-header recipe-details-list d-flex justify-content-center mx-auto flex-wrap">
        {% for detail in recipe.details.values() %}
        <li>{{ detail }} <i class="fas fa-check-circle"></i></li>
        {% endfor %}
    </ul>
    <img src="{{ url_for('static', filename='/images/cala-w6ftFbPCs9I-unsplash.jpg') }}" alt="">
    <div class="row d-flex justify-content-between">
        <div class="d-none d-md-inline col-md-4 text-center">
            <h6 class="sub-header text-center">Average Rating</h6>
            {% if average_rating == 1 %}
            <span class="star coloured-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            {% elif average_rating == 2 %}
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            {% elif average_rating == 3 %}
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            {% elif average_rating == 4 %}
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            {% elif average_rating == 5 %}
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            <span class="star coloured-star">&#9733;</span>
            {% else %}
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            <span class="star blank-star">&#9733;</span>
            {% endif %}
        </div>
        <div class="d-none d-md-flex col-md-4 flex-wrap justify-content-center your-rating">
            <h6 class="sub-header text-center">Your Rating</h6>
            <form class="rating-form-md" name="rating-form" method="POST" action="{{ url_for('recipe_page', recipe_id=recipe._id) }}">
                <div class="rate rate-md">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5" title="text">&#9733;</label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4" title="text">&#9733;</label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3" title="text">&#9733;</label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2" title="text">&#9733;</label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1" title="text">&#9733;</label>
                </div>
                    <input class="custom-button add-rating-btn mt-2" type="submit" value="Add Rating">
            </form>
        </div>
        <div class="col-6 d-md-none text-center d-flex align-items-center justify-content-center">


            <button type="button" class="custom-button ratings-button" data-toggle="modal" data-target="#rating-modal">
                View<br>Ratings
            </button>
            <!-- Modal -->
            <div class="modal fade" id="rating-modal" tabindex="-1" aria-labelledby="rating modal" aria-hidden="true">
                <div id="ratings-modal" class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-left">
                        <div class="modal-body">
                            <h6 class="sub-header text-muted">Average Rating</h6>
                            {% if average_rating == 1 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% elif average_rating == 2 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% elif average_rating == 3 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% elif average_rating == 4 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% elif average_rating == 5 %}
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            <span class="star coloured-star">&#9733;</span>
                            {% else %}
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            <span class="star blank-star">&#9733;</span>
                            {% endif %}

                            <form name="rating-form" method="POST"
                                action="{{ url_for('recipe_page', recipe_id=recipe._id) }}">
                                <h6 class="sub-header text-muted mt-4">Your Rating</h6>
                                <div class="rate">
                                    <input type="radio" id="star5-modal" name="rating" value="5" />
                                    <label for="star5-modal" title="text">&#9733;</label>
                                    <input type="radio" id="star4-modal" name="rating" value="4" />
                                    <label for="star4-modal" title="text">&#9733;</label>
                                    <input type="radio" id="star3-modal" name="rating" value="3" />
                                    <label for="star3-modal" title="text">&#9733;</label>
                                    <input type="radio" id="star2-modal" name="rating" value="2" />
                                    <label for="star2-modal" title="text">&#9733;</label>
                                    <input type="radio" id="star1-modal" name="rating" value="1" />
                                    <label for="star1-modal" title="text">&#9733;</label>
                                </div>
                                <div>
                                    <input class="custom-button add-rating-btn mt-2" type="submit" value="Add Rating">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="custom-button" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 text-center">
            <h6 class="sub-header text-center">Add to Favourites</h6>
            <i class="far fa-heart favourite-toggle"></i>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="ingredients-section rounded-container mx-auto">
            <h3 class="sub-header text-center">Ingredients</h3>
            {% for quantity, ingredient in recipe.ingredients %}
            <li>{{ quantity }} {{ ingredient }}</li>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="instructions-section rounded-container mx-auto">
            <h3 class="sub-header text-center">Instructions</h3>
            <ul>
                {% for instruction in recipe.instructions %}
                <h6 class="sub-header">Step {{loop.index}}</h6>
                <li>{{ instruction }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}