{% extends 'base.html' %}
{% block content %}
<div class="recipe-header rounded-container mx-auto">
    <h1 class="logo-font text-center header">{{ recipe.name }}</h1>
    <p class="recipe-added-by text-center text-muted">Recipe added by example-user</p>
    <p class="serves-details sub-header text-center">Serves {{ recipe.feeds }}</p>
    <ul class="sub-header recipe-details-list d-flex justify-content-center mx-auto flex-wrap">
        {% for detail in recipe.details.values() %}
        <li>{{ detail }} <i class="fas fa-check-circle"></i></li>
        {% endfor %}
    </ul>
    <img src="{{ url_for('static', filename='/images/cala-w6ftFbPCs9I-unsplash.jpg') }}" alt="">
    <div class="row">
        <div class="d-none d-md-inline col-md-4">
            <h6 class="sub-header text-center">Average Rating</h6>
        </div>
        <div class="col-6 col-md-4">
            <h6 class="sub-header  text-center">Your Rating</h6>
        </div>
        <div class="col-6 col-md-4">
            <h6 class="sub-header text-center">Add to Favourites</h6>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="ingredients-section rounded-container mx-auto">
            <h3 class="sub-header text-center">Ingredients</h3>
            {% for quantity, ingredient in recipe.ingredients %}
                <li>{{ quantity }} {{ ingredient }}</li>
                {% endfor %}
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="instructions-section rounded-container mx-auto">
            <h3 class="sub-header text-center">Instructions</h3>
            <ul>
                {% for instruction in recipe.instructions %}
                <h6 class="sub-header">Step {{loop.index}}</h6>
                <li>{{ instruction }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}